/*
  cms.css for cms.html
*/

/* Public fonts */
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("/public/fonts/Roboto-BoldItalic.ttf") format("truetype");
}
/* Customized fonts */
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
body {
  background:#eee;
  width:100%;
  height:100%;
}
.btn {
  display:block;
  margin:10px auto 0;
  width:328px;
  height:118px;
  text-indent:-9999px;
  background:url("../images/button.png") no-repeat;
}
.bold {
  margin:10px auto;
  font-family: "Roboto-BoldItalic";
  color:#28abef;
  text-align:center;
  font-size:40px;
}
.thin {
  font-family: "Roboto-Thin";
  color:#0096ff;
  text-align:center;
  font-size:20px;
}
img {
  display:block;
  margin:10px auto 0;
  padding:20px;
  border:2px solid #ddd;
  max-width:80%;
}
