<%= htmlWebpackPlugin.options.headerHtml %>

  <div id="CMS">

      <div>I am index.hbs of CMS. I have a header included.</div>

      <div class="cms-wrapper new-version">
        <div class="left-pan"><%= htmlWebpackPlugin.options.leftTitle %></div>
        <div class="right-pan"><%= htmlWebpackPlugin.options.rightTitle %></div>
        <div>
          <h1 class="bold">Hello world, I am an .hbs page here:</h1>
          <h2 class="bold" id="dynamic"></h2>
          <h3 class="thin">The texts here are very thin.</h3>
          <h3 class="thin">Using Roboto-Thin fonts!</h3>
          <a class="btn" href="javascript:;">Download Now!</a>
          <img src="images/dog.jpg" alt="A cute dog" width="200" />
        </div>
      </div>

  </div><!-- #CMS -->

<%= htmlWebpackPlugin.options.footerHtml %>
